#person {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  position: relative;
  margin: 20px;
}
#person::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 40px;
  background-color: gray;
  top: 22px;
  left: -10px;
  border-radius: 50% 50% 0% 0%;
}
